#single_delivered_orders_link{
	border-radius: 10px;
	background: #fff;
	padding: 20px;
	width: 100%;
}

#single_delivered_orders_link > a{
	color: #000;
	font-size: 20px;
}

#single_delivered_orders_link > a:hover {
	text-decoration: none;
}

#single_delivered_orders_link > a #delivered_orders_name{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.single_delivered_orders_blk{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 16px;
}

.single_delivered_orders_items{
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.totall__ammount{
	margin-bottom: 0;
}

.amount_with_badge_blk{
	display: flex;
	align-items: flex-end;
	flex-direction: column;
	gap: 12px;
}